@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono);
@import url(https://unpkg.com/tippy.js@6/themes/light-border.css);

:root {
	--madder-lake: #c83737ff;
	--saffron: #eac435ff;
	--corn: #e7e247ff;
	--melon: #fab3a9ff;
	--sea-green-crayola: #10ffcbff;
	--caribbean-green: #40c9a2ff;
	--viridian-green: #2f9c95ff;
	--usafa-blue: #1b5299ff;
	--jet: #2f2f2fff;
	--nice-grey: #fafafa;
	--black: #000000ff;

	--main: 'Roboto', sans-serif;
	--mono: 'Roboto Mono', monospace;
}

.w3-theme {
	color: #fff !important;
	background-color: #c83737ff !important;
}

.w3-green {
	color: #fff !important;
	background-color: var(--caribbean-green) !important;
}

.w3-green-alt {
	color: var(--nice-grey) !important;
	background-color: var(--viridian-green) !important;
}

.w3-red-light {
	color: #fff !important;
	background-color: var(--saffron) !important;
}

.w3-blue {
	color: #fff !important;
	background-color: var(--usafa-blue) !important;
}

.w3-yellow {
	color: var(--jet) !important;
	background-color: var(--corn) !important;
}

.w3-theme-light {
	color: #000 !important;
	background-color: #e8eaf6 !important;
}
.w3-theme-dark {
	color: #fff !important;
	background-color: #1a237e !important;
}

.w3-theme-l5 {
	color: #000 !important;
	background-color: #e8eaf6 !important;
}
.w3-theme-l4 {
	color: #000 !important;
	background-color: #c5cae9 !important;
}
.w3-theme-l3 {
	color: #000 !important;
	background-color: #9fa8da !important;
}
.w3-theme-l2 {
	color: #fff !important;
	background-color: #7986cb !important;
}
.w3-theme-l1 {
	color: #fff !important;
	background-color: #5c6bc0 !important;
}
.w3-theme-d1 {
	color: #fff !important;
	background-color: #3949ab !important;
}
.w3-theme-d2 {
	color: #fff !important;
	background-color: #303f9f !important;
}
.w3-theme-d3 {
	color: #fff !important;
	background-color: #283593 !important;
}
.w3-theme-d4 {
	color: #fff !important;
	background-color: #1a237e !important;
}

.w3-theme-action {
	color: #fff !important;
	background-color: #311b92 !important;
}
.w3-text-theme {
	color: #1a237e !important;
}

.w3-monospace {
	font-family: var(--mono) !important;
}

html,
body {
	font-family: var(--main) !important;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

html,
body,
#svelte {
	height: 100%;
}

#svelte {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

footer {
	text-align: center;
	font-size: small;
	font-style: italic;
}

.subtitle {
	font-family: system-ui;
	font-weight: lighter;
}
